#app {
  height: 100vh;
}

.initial-spinner {
  position: absolute;
  display: block;
  top: 50vh;
  left: 50vw;
  transform: translateY(-50%) translateX(-50%);
}

html.platform--win32::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  display: block;
  z-index: 40;
  background-color: silver;
}

body, html {
  height: 100vh;
}
